In [238]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [239]:
plt.style.use('fivethirtyeight')

In [240]:
orders = pd.read_csv("data/orders.csv", dayfirst=True, header=1)
process = pd.read_csv("data/order-process.csv", dayfirst=True,)
intern = pd.read_csv("data/intern.csv", dayfirst=True,)
campaign = pd.read_csv("data/campaign.csv", dayfirst=True,)
orders.head()
process.head()
# intern.head()
# campaign.head()
campaign.shape

(333, 3)

In [241]:
# lowercasing the titles
orders.rename(columns=lambda x : x.lower(), inplace=True)
process.rename(columns=lambda x : x.lower(), inplace=True)
intern.rename(columns=lambda x : x.lower(), inplace=True)
campaign.rename(columns=lambda x : x.lower(), inplace=True)
campaign.head()

         order id arrival scan date     customer name
0  CA-2019-109666        03/05/2019      Kunst Miller
1  CA-2019-138933        03/05/2019       Jack Lebron
2  CA-2019-130001        03/05/2019  Heather Kirkland
3  CA-2019-113061        06/05/2019         Ed Ludwig
4  CA-2019-162138        06/05/2019       Grace Kelly

In [242]:
# replacing spaces with '_':
orders.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)
intern.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)
process.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)
campaign.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)

In [243]:
# to change the day formatting

intern['ready_to_ship_date'] = pd.to_datetime(intern['ready_to_ship_date'], format='%d/%m/%Y')
intern['pickup_date'] = pd.to_datetime(intern['pickup_date'], format='%d/%m/%Y')
intern.head()
orders['order_date'] = pd.to_datetime(orders['order_date'], format='%d/%m/%Y')
orders_clean = orders[['index','order_id', 'order_date', 'postal_code', 'state']]
orders_clean.head()

   index        order_id order_date  postal_code       state
0     27  CA-2019-121755 2019-01-16      90049.0  California
1     45  CA-2019-118255 2019-03-11      55122.0   Minnesota
2     48  CA-2019-169194 2019-06-20      19901.0    Delaware
3     60  CA-2019-111682 2019-06-17      12180.0    New York
4     63  CA-2018-135545 2018-11-24      90004.0  California

In [244]:
campaign['arrival_scan_date'] = pd.to_datetime(campaign['arrival_scan_date'], format='%d/%m/%Y')
campaign.head()
process['order_date'] = pd.to_datetime(process['order_date'], dayfirst=True)
process['on_truck_scan_date'] = pd.to_datetime(process['on_truck_scan_date'], dayfirst=True)
process.head(20)

    row_id        order_id order_date on_truck_scan_date            ship_mode
0     3074  CA-2019-125206 2019-01-03         2019-01-07              Express
1     4919  CA-2019-160304 2019-01-02         2019-01-09  Standard Processing
2     4920  CA-2019-160304 2019-01-02         2019-01-09  Standard Processing
3     8604  US-2019-116365 2019-01-03         2019-01-09  Standard Processing
4     8605  US-2019-116365 2019-01-03         2019-01-09  Standard Processing
5     8606  US-2019-116365 2019-01-03         2019-01-09  Standard Processing
6     9494  CA-2019-105207 2019-01-03         2019-01-09  Standard Processing
7     9495  CA-2019-105207 2019-01-03         2019-01-09  Standard Processing
8     5868  CA-2019-158211 2019-01-04         2019-01-09  Standard Processing
9     5869  CA-2019-158211 2019-01-04         2019-01-09  Standard Processing
10     863  CA-2019-134474 2019-01-05         2019-01-11  Standard Processing
11     864  CA-2019-134474 2019-01-05         2019-01-11  Standard Processing
12     865  CA-2019-134474 2019-01-05         2019-01-11  Standard Processing
13    2898  US-2019-164630 2019-01-04         2019-01-11  Standard Processing
14    8031  CA-2019-158806 2019-01-07         2019-01-14  Standard Processing
15    8032  CA-2019-158806 2019-01-07         2019-01-14  Standard Processing
16    3236  CA-2019-140746 2019-01-15         2019-01-16              Express
17    3702  CA-2019-126543 2019-01-09         2019-01-16  Standard Processing
18    6970  CA-2019-163937 2019-01-10         2019-01-16  Standard Processing
19    1026  CA-2019-126529 2019-01-11         2019-01-16  Standard Processing

In [229]:
#to remove duplicates in intern data
intern[intern.duplicated(keep=False)].sort_values(by='order_id')
intern_cleaned = intern.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
#to merge non-duplicated intern with orders
orders_intern = pd.merge(orders_clean, intern_cleaned)
orders_intern[orders_intern.duplicated(keep=False)].sort_values(by='order_id')

Empty DataFrame
Columns: [index, order_id, order_date, postal_code, state, ready_to_ship_date, pickup_date]
Index: []

In [245]:
# to merge orders and process
orders_process = pd.merge(orders_clean, process, on='order_id')
orders_process

,index,order_id,order_date_x,postal_code,state,row_id,order_date_y,on_truck_scan_date,ship_mode
0,27,CA-2019-121755,2019-01-16,90049.0,California,26,2019-01-16,2019-01-23,Standard Processing
1,27,CA-2019-121755,2019-01-16,90049.0,California,27,2019-01-16,2019-01-23,Standard Processing
2,26,CA-2019-121755,2019-01-16,90049.0,California,26,2019-01-16,2019-01-23,Standard Processing
3,26,CA-2019-121755,2019-01-16,90049.0,California,27,2019-01-16,2019-01-23,Standard Processing
4,45,CA-2019-118255,2019-03-11,55122.0,Minnesota,45,2019-03-11,2019-03-13,Express
...,...,...,...,...,...,...,...,...,...
17520,9463,US-2020-109610,2020-11-25,40214.0,Kentucky,9463,2020-11-25,2020-12-02,Standard Processing
17521,9760,CA-2019-146913,2019-10-31,94109.0,California,9760,2019-10-31,2019-11-06,Standard Processing
17522,9808,CA-2020-107209,2020-07-27,27604.0,North Carolina,9808,2020-07-27,2020-08-05,Standard Processing
17523,9830,US-2020-152842,2020-07-16,28205.0,North Carolina,9830,2020-07-16,2020-07-24,Standard Processing
17524,9880,CA-2019-122581,2019-08-21,10035.0,New York,9880,2019-08-21,2019-08-28,Standard Processing

In [246]:
#to merge orders and campaign
orders_campaign = pd.merge(orders_clean, campaign)
orders_campaign['order_arrival_diff'] = orders_campaign['arrival_scan_date'] - orders_campaign['order_date']
orders_campaign.drop(columns='index', inplace = True)
orders_campaign.head()

orders_campaign[orders_campaign.duplicated(keep=False)].sort_values(by='order_id')
orders_campaign.drop_duplicates(subset=None, keep='first', inplace=True)

orders_campaign.drop(columns='customer_name', inplace=True)
# orders.query('order_id == "CA-2019-145625"')
orders_campaign.head()
# orders_campaign.query('order_arrival_diff > 0')

,order_id,order_date,postal_code,state,arrival_scan_date,order_arrival_diff
0,CA-2019-145625,2019-09-11,92037.0,California,2019-09-23,12 days
2,CA-2019-162138,2019-04-23,92345.0,California,2019-05-06,13 days
4,CA-2019-169166,2019-05-09,98115.0,Washington,2019-05-20,11 days
5,CA-2020-131954,2020-01-21,98115.0,Washington,2020-02-03,13 days
11,CA-2019-102981,2019-09-06,10035.0,New York,2019-09-16,10 days

In [247]:
process.head()
process['on_truck_order_diff'] = process.on_truck_scan_date - process.order_date
process.sort_values('on_truck_order_diff')

,row_id,order_id,order_date,on_truck_scan_date,ship_mode,on_truck_order_diff
4946,9226,CA-2020-121160,2020-11-04,2020-11-04,Express,0 days
2290,7060,CA-2019-165330,2019-12-11,2019-12-11,Express,0 days
3270,6635,CA-2020-144498,2020-05-06,2020-05-06,Express,0 days
2291,7061,CA-2019-165330,2019-12-11,2019-12-11,Express,0 days
179,1705,CA-2019-106306,2019-03-08,2019-03-08,Express,0 days
...,...,...,...,...,...,...
2515,1826,CA-2019-167507,2019-12-22,2020-01-03,Standard Processing,12 days
5848,8392,CA-2020-110625,2020-12-23,2021-01-04,Standard Processing,12 days
2516,1827,CA-2019-167507,2019-12-22,2020-01-03,Standard Processing,12 days
2518,9350,CA-2019-114860,2019-12-22,2020-01-03,Standard Processing,12 days
2514,1825,CA-2019-167507,2019-12-22,2020-01-03,Standard Processing,12 days

In [ ]:
for i in process.on_truck_order_diff:



for n in process[on_truck_order_diff]:
    if abs(n) > 20:

In [166]:
# correlation matrix between these variables
# corr_columns=["views", "likes", "dislikes", "comment_count", "trending_days_difference"]
# corr_mtrx=df[corr_columns].corr()
# corr_mtrx

In [167]:
# draw the heatmap 
# plt.figure(figsize = (14,12))
# ax = sns.heatmap(corr_mtrx, linewidths=.5, annot=True, cmap='coolwarm')